<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
  <div class="title">
    Welcome to {{ title }}!
  </div>
  <div *ngIf="!signedIn" class="dropdown">
    <button class="dropbtn">Sign In</button>
    <div class="dropdown-content">
      <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
    </div>
  </div>
  <div *ngIf="signedIn" class="dropdown">
    <img *ngIf="user.photoURL" class="avatar" src="{{user.photoURL}}">
    <button class="dropbtn">{{displayName}}</button>
    <div class="dropdown-content">
      <button class="signout" (click)="signOut()">Sign Out</button>
    </div>
  </div>
</div>


