<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav">
  <div class="title">
    Welcome to {{ title }}!
  </div>
  <div *ngIf="!user" class="dropdown">
    <button class="dropbtn">Sign In</button>
    <div class="dropdown-content">
      <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
    </div>
  </div>
  <div *ngIf="user" class="dropdown">
    <button class="dropbtn">{{displayName}}</button>
    <div class="dropdown-content">
      <button>Sign Out</button>
    </div>
  </div>
</div>


