.topnav {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.topnav .title {
    margin: 12px;
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    min-width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 50px;
}

.dropdown-content .signout {
    background-color: rgb(253, 253, 253);
    color: rgb(7, 7, 7);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 8px 16px;
    font-size: 14px;
    max-width: 220px;
    min-height: 40px;
    height: auto;
    border: none;
    cursor: pointer;
    margin: 1em 2em 1em 2em;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.avatar {
    height: 50px;
    width: 50px;
}